SimpleTwitter.API/Service References/WcfCommandServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/wcfcommandservice/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SimpleTwitter.Messages.Commands" />
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SimpleTwitter.Messages.Commands" minOccurs="0" name="command" nillable="true" type="q1:CreateUserCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PostMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SimpleTwitter.Messages.Commands" minOccurs="0" name="command" nillable="true" type="q2:PostMessageCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Follow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SimpleTwitter.Messages.Commands" minOccurs="0" name="command" nillable="true" type="q3:FollowCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>